.hero {
  position: relative;
  width: auto;
  height: 95vh;
  line-height: 18px;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, .55);
}

.menu-button {
  max-width: 1200px;
}

.navlink {
  margin-top: 14px;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  max-width: 140px;
  margin: 0px 0px 0px 20px;
  padding: 10px;
}

.image {
  max-width: 130px;
}

.image-2 {
  max-width: 130px;
}

.image-3 {
  max-width: 130px;
}

.image-4 {
  max-width: 130px;
  padding: 0px;
  float: none;
}

.nav-menu {
  top: 8px;
  padding-top: 0px;
  padding-right: 15px;
  float: right;
}

.slider {
  height: 100%;
}

.slide1 {
  display: inline-block;
  padding-top: 156px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #a4ad9c;
  background-image: url('../images/ross-van-der-wal-219011-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 0 -1px 0 hsla(0, 0%, 100%, .25);
}

.slide1._1 {
  background-image: url('../images/oscar-nilsson-288758-min.jpg');
}

.slide1._2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/tommy-pequinot-329425-min.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/tommy-pequinot-329425-min.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.slide1._3 {
  background-image: url('../images/andras-vas-466730-min.jpg');
}

.special-edition-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.heading {
  position: relative;
  top: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px 42px 1px 53px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Exo, sans-serif;
  color: #c99a23;
  font-size: 42px;
  font-weight: 200;
  text-align: left;
  text-shadow: 1px 1px 3px #000;
}

.heading._2 {
  top: 82px;
  color: #f2f2f2;
}

.heading._1 {
  color: #fff;
  text-shadow: 1px 1px 14px #000;
}

.heading._3 {
  top: 61px;
}

.heading._3.second {
  top: 230px;
}

.slide2 {
  max-width: 100%;
  padding-top: 0px;
  background-color: #fff;
  background-image: url('../images/o-TORONTO-SUBWAY-RUSH-HOUR-facebook.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 226px;
  padding-right: 0px;
  padding-left: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Exo, sans-serif;
  color: hsla(0, 0%, 100%, .93);
  font-size: 42px;
  font-weight: 300;
  text-shadow: 4px 4px 20px #000;
}

.slide3 {
  background-image: url('../images/jonathan-daniels-453915-min-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading3 {
  position: relative;
  left: 89px;
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 180px;
  padding-left: 26px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 42px;
  font-weight: 300;
  text-align: left;
}

.heading3.second {
  padding-top: 0px;
  color: #c99a23;
}

.heading3._2 {
  padding-top: 40px;
  color: #c99a23;
  line-height: 52px;
}

.container-2 {
  padding: 30px;
  letter-spacing: 2px;
}

.heading-2 {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  direction: ltr;
  font-family: 'Droid Sans', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.heading-2.hd {
  padding-top: 40px;
  padding-bottom: 20px;
}

.heading-2.ne {
  margin-bottom: -40px;
  padding-bottom: 0px;
}

.div {
  padding: 40px 10px 9px 20px;
  text-align: center;
}

.image-5 {
  padding-top: 0px;
  float: none;
  text-align: left;
}

.image-5.imagediv {
  background-image: url('../images/warranty-icon.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.headingdiv {
  text-align: center;
}

.section {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-3 {
  font-family: Exo, sans-serif;
  font-weight: 500;
}

.txt {
  padding-top: 5px;
  font-family: Exo, sans-serif;
  color: #f1b825;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.txt.pt {
  font-size: 30px;
}

.txt.img {
  padding-top: 10px;
  font-size: 26px;
}

.txt.img1 {
  padding-top: 10px;
  font-size: 26px;
  text-transform: capitalize;
}

.paragraph {
  padding-top: 9px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.image6 {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.paragraph-2 {
  padding-top: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.paragraph-3 {
  padding-top: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.text-span {
  font-size: 26px;
  text-transform: none;
}

.section-2 {
  background-image: -webkit-linear-gradient(270deg, rgba(233, 181, 47, .79), #fff);
  background-image: linear-gradient(180deg, rgba(233, 181, 47, .79), #fff);
}

.main-section {
  padding: 25px 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.main-section.grey {
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 94%, .5), hsla(0, 0%, 94%, .5)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03));
  background-image: linear-gradient(180deg, hsla(0, 0%, 94%, .5), hsla(0, 0%, 94%, .5)), linear-gradient(180deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03));
}

.main-section.abt {
  padding-top: 47px;
  padding-bottom: 25px;
  background-image: url('../images/david-cohen-249124-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px 11px #000, inset 0 0 8px 0 #000;
}

.main-section.ctc {
  box-shadow: inset 0 10px 38px 15px rgba(0, 0, 0, .5);
}

.cardiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0px 40px 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  padding-right: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-family: Exo, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.slide {
  background-image: url('../images/IMG_2829.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.heading-6 {
  text-align: center;
}

.paragraph-4 {
  padding-top: 96px;
  padding-left: 29px;
}

.paragraph-4.hd {
  margin-bottom: -1px;
  padding-top: 13px;
  padding-right: 145px;
  padding-left: 36px;
  font-family: 'Droid Sans', sans-serif;
  color: #333;
}

.slider-2 {
  display: block;
  max-height: 250px;
  max-width: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.slider-2.rotate {
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.slider-2.rot {
  max-height: 250px;
  max-width: 250px;
}

.text-block {
  padding-top: 15px;
  font-family: Exo, sans-serif;
  color: #b9861a;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
  text-transform: none;
}

.text-block-2 {
  margin-top: -83px;
  padding-top: 1px;
}

.specs {
  padding-left: 55px;
  color: #000;
  text-align: left;
  text-decoration: none;
}

.specs.int {
  padding-left: 91px;
}

.specs.ext {
  padding-left: 86px;
}

.specs.price {
  padding-left: 117px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-3 {
  background-image: -webkit-linear-gradient(270deg, hsla(43, 55%, 72%, .5), hsla(43, 55%, 72%, .5));
  background-image: linear-gradient(180deg, hsla(43, 55%, 72%, .5), hsla(43, 55%, 72%, .5));
}

.days {
  background-image: -webkit-linear-gradient(270deg, hsla(52, 72%, 79%, .5), hsla(52, 72%, 79%, .5));
  background-image: linear-gradient(180deg, hsla(52, 72%, 79%, .5), hsla(52, 72%, 79%, .5));
  font-family: Exo, sans-serif;
}

.div-block {
  border-radius: 20px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  text-align: center;
}

.image-6 {
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin-top: 15px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.heading-7 {
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.odd {
  font-family: Exo, sans-serif;
}

.heading-8 {
  font-family: Exo, sans-serif;
  font-weight: 400;
}

.column {
  margin-top: -25px;
}

.heading-9 {
  font-family: Exo, sans-serif;
  text-align: center;
}

.slide-2 {
  background-image: url('../images/IMG_2832.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/IMG_2830.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-4 {
  background-image: url('../images/IMG_2833.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/IMG_2834.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/IMG_2836.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-7 {
  background-image: url('../images/IMG_2839.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/IMG_2841.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.about.name {
  color: #f1b825;
  text-shadow: 2px 2px 3px #000;
}

.about.name.body {
  margin-bottom: 9px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #fff;
}

.slide-10 {
  background-color: #258cd3;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 0, 0, .5), rgba(255, 0, 0, .5)), url('../images/IMG_0199.JPG');
  background-image: linear-gradient(180deg, rgba(255, 0, 0, .5), rgba(255, 0, 0, .5)), url('../images/IMG_0199.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.slide-11 {
  background-image: url('../images/IMG_0198.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-12 {
  background-image: url('../images/IMG_0196.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-13 {
  background-image: url('../images/IMG_0193.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-14 {
  background-image: url('../images/IMG_0191.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-15 {
  background-image: url('../images/IMG_0190.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-16 {
  background-image: url('../images/IMG_0195.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-17 {
  background-image: url('../images/IMG_0194.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-18 {
  background-image: url('../images/IMG_0192.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-19 {
  background-image: url('../images/IMG_0188.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-20 {
  background-image: url('../images/IMG_0185.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-21 {
  background-image: url('../images/IMG_0184.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-22 {
  background-image: url('../images/IMG_0181.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-23 {
  background-image: url('../images/IMG_0182.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-24 {
  background-image: url('../images/IMG_0180.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-25 {
  background-image: url('../images/IMG_0183.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-26 {
  background-image: url('../images/IMG_0178.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-27 {
  background-image: url('../images/IMG_0176.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-28 {
  background-image: url('../images/IMG_0175.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-29 {
  background-image: url('../images/IMG_0174.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-30 {
  background-image: url('../images/IMG_0173.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-31 {
  background-image: url('../images/IMG_0172.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-32 {
  background-image: url('../images/IMG_2419.JPG');
  background-position: 0px 50%;
  background-size: cover;
}

.slide-33 {
  background-image: url('../images/IMG_0169.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-34 {
  background-image: url('../images/IMG_2845.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-35 {
  background-image: url('../images/IMG_2846.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-36 {
  background-image: url('../images/IMG_2848.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-37 {
  background-image: url('../images/IMG_2849.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-38 {
  background-image: url('../images/IMG_2852.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-39 {
  background-image: url('../images/IMG_2854.JPG'), url('../images/IMG_2538.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: 320px, cover;
}

.slide-40 {
  background-image: url('../images/IMG_2855.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-41 {
  background-image: url('../images/IMG_2853.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-42 {
  background-image: url('../images/IMG_2857.JPG');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  background-image: url('../images/IMG_2859.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-2 {
  background-image: url('../images/IMG_2858.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-43 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2860.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-44 {
  background-image: url('../images/IMG_2181.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-45 {
  background-image: url('../images/IMG_2863.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-46 {
  background-image: url('../images/IMG_2864.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-47 {
  background-image: url('../images/IMG_2868.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-48 {
  background-image: url('../images/IMG_2865.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-49 {
  background-image: url('../images/IMG_2869.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-50 {
  background-image: url('../images/IMG_2870.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-51 {
  background-image: url('../images/IMG_2177.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-52 {
  background-image: url('../images/IMG_2179.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-53 {
  background-image: url('../images/IMG_2181.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-54 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2182.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
}

.slide-55 {
  background-image: url('../images/IMG_2183.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-56 {
  background-image: url('../images/IMG_2186.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-57 {
  background-image: url('../images/IMG_2185.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-58 {
  background-image: url('../images/IMG_2187.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-59 {
  background-image: url('../images/IMG_2188.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-60 {
  background-image: url('../images/IMG_2189.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.image-7 {
  max-width: 20%;
}

.slide-61 {
  background-image: url('../images/IMG_2190.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-62 {
  background-image: url('../images/IMG_2191.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-63 {
  background-image: url('../images/IMG_2192.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-64 {
  background-image: url('../images/IMG_2194.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-65 {
  background-image: url('../images/IMG_2195.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-66 {
  background-image: url('../images/IMG_2196.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-67 {
  background-image: url('../images/IMG_2198.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-68 {
  background-image: url('../images/IMG_2199.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-69 {
  background-image: url('../images/IMG_2201.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-70 {
  background-image: url('../images/IMG_2225.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-71 {
  background-image: url('../images/IMG_2224.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-72 {
  background-image: url('../images/IMG_2226.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-73 {
  background-image: url('../images/IMG_2228.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-74 {
  background-image: url('../images/IMG_2229.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-75 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2231.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
}

.slide-76 {
  background-image: url('../images/IMG_2233.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-77 {
  background-image: url('../images/IMG_2234.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-78 {
  background-image: url('../images/IMG_2235.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-79 {
  background-image: url('../images/IMG_2236.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-80 {
  background-image: url('../images/IMG_2237.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-81 {
  background-image: url('../images/IMG_2239.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-82 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2240.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
}

.slide-83 {
  background-image: url('../images/IMG_2242.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-84 {
  background-image: url('../images/IMG_2243.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-85 {
  background-image: url('../images/IMG_2244.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-86 {
  background-image: url('../images/IMG_2245.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-87 {
  background-image: url('../images/IMG_2247.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-2 {
  padding-top: 0px;
  text-align: left;
}

.text-block-4 {
  display: inline-block;
  margin-right: 0px;
  margin-left: 30px;
  padding: 14px 0px;
  font-family: Exo, sans-serif;
  font-size: 19px;
  line-height: 25px;
  text-align: right;
}

.div-block-3 {
  display: block;
  padding-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-5 {
  position: static;
  display: inline-block;
  padding: 15px 0px;
  font-family: Exo, sans-serif;
  color: #2c74ad;
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-span-2 {
  font-weight: 700;
}

.slide-88 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2248.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-89 {
  background-image: url('../images/IMG_2250.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-90 {
  background-image: url('../images/IMG_2251.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-91 {
  background-image: url('../images/IMG_2252.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-92 {
  background-image: url('../images/IMG_2253.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-93 {
  background-image: url('../images/IMG_2254.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-94 {
  background-image: url('../images/IMG_2255.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-95 {
  background-image: url('../images/IMG_2256.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-96 {
  background-image: url('../images/IMG_2257.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-97 {
  background-image: url('../images/IMG_2258.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-98 {
  background-image: url('../images/IMG_2259.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-99 {
  background-image: url('../images/IMG_2260.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-100 {
  background-image: url('../images/IMG_2262.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-101 {
  background-image: url('../images/IMG_2263.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-102 {
  background-image: url('../images/IMG_2264.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-103 {
  background-image: url('../images/IMG_2265.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-104 {
  background-image: url('../images/IMG_2266.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-105 {
  background-image: url('../images/IMG_2276.JPG');
  background-position: 50% 100%;
  background-size: auto;
}

.slide-106 {
  background-image: url('../images/IMG_2283.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-107 {
  background-image: url('../images/IMG_2284.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-108 {
  background-image: url('../images/IMG_2285.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-109 {
  background-image: url('../images/IMG_2287.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-110 {
  background-image: url('../images/IMG_2288.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-111 {
  background-image: url('../images/IMG_2290.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-112 {
  background-image: url('../images/IMG_2289.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-113 {
  background-image: url('../images/IMG_2291.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-114 {
  background-image: url('../images/IMG_2286.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-115 {
  background-image: url('../images/IMG_2320.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-116 {
  background-image: url('../images/IMG_2323.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-117 {
  background-image: url('../images/IMG_2322.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-118 {
  background-image: url('../images/IMG_2321.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-119 {
  background-image: url('../images/IMG_2324.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-120 {
  background-image: url('../images/IMG_2326.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-121 {
  background-image: url('../images/IMG_2327.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-122 {
  background-image: url('../images/IMG_2328.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-123 {
  background-image: url('../images/IMG_2330.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-124 {
  background-image: url('../images/IMG_2331.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-125 {
  background-image: url('../images/IMG_2333.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-126 {
  background-image: url('../images/IMG_2334.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-127 {
  background-image: url('../images/IMG_2335.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-128 {
  background-image: url('../images/IMG_2336.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-129 {
  background-image: url('../images/IMG_2338.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-130 {
  background-image: url('../images/IMG_2337.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-131 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2339.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-132 {
  background-image: url('../images/IMG_2342.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-133 {
  background-image: url('../images/IMG_2343.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-134 {
  background-image: url('../images/IMG_2341.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-135 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-136 {
  background-image: url('../images/IMG_2901.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-137 {
  background-image: url('../images/IMG_2903.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-138 {
  background-image: url('../images/IMG_2902.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-139 {
  background-image: url('../images/IMG_2909.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-140 {
  background-image: url('../images/IMG_2910.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-141 {
  background-image: url('../images/IMG_2911.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-142 {
  background-image: url('../images/IMG_2913.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-143 {
  background-image: url('../images/IMG_2912.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-144 {
  background-image: url('../images/IMG_2914.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-145 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2387.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-146 {
  background-image: url('../images/IMG_2388.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-147 {
  background-image: url('../images/IMG_2389.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-148 {
  background-image: url('../images/IMG_2391.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-149 {
  background-image: url('../images/IMG_2392.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-150 {
  background-image: url('../images/IMG_2393.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-151 {
  background-image: url('../images/IMG_2394.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-152 {
  background-image: url('../images/IMG_2390.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-153 {
  background-image: url('../images/IMG_2395.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-154 {
  background-image: url('../images/IMG_2398.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-155 {
  background-image: url('../images/IMG_2399.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-156 {
  background-image: url('../images/IMG_2408.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-157 {
  background-image: url('../images/IMG_2408.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-158 {
  background-image: url('../images/IMG_2409.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-159 {
  background-image: url('../images/IMG_2410.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-160 {
  background-image: url('../images/IMG_2411.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-161 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2404.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-162 {
  background-image: url('../images/IMG_2405.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-163 {
  background-image: url('../images/IMG_2407.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-164 {
  background-image: url('../images/IMG_2408.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-165 {
  background-image: url('../images/IMG_2402.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-166 {
  background-image: url('../images/IMG_2403.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.text-block-6 {
  font-family: Exo, sans-serif;
  text-align: right;
}

.text-block-7 {
  font-family: Exo, sans-serif;
}

.oddd {
  color: #f1b825;
}

.oddd.sunday {
  font-weight: 400;
}

.column-2 {
  margin-top: 46px;
  padding-top: 0px;
  padding-bottom: 9px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.heading-10 {
  font-family: Exo, sans-serif;
  color: #e2dcdc;
  font-weight: 300;
}

.even {
  color: #e2dcdc;
}

.map {
  margin-top: 15px;
}

.image-8 {
  text-align: left;
}

.text-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Exo, sans-serif;
  font-weight: 700;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 49px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-9 {
  max-width: 20%;
}

.facebook {
  padding-top: 10px;
  float: none;
}

.heading-11 {
  margin-top: 21px;
  padding-top: 35px;
  font-family: Exo, sans-serif;
  color: #333;
}

.heading-12 {
  margin-top: 0px;
  padding-bottom: 15px;
  font-family: Exo, sans-serif;
  color: #333;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-10 {
  max-width: 70%;
}

.image-11 {
  max-width: 65%;
}

.image-12 {
  max-width: 58%;
  padding-bottom: 15px;
}

.image-13 {
  max-width: 67%;
}

.text-block-9 {
  padding-top: 40px;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
}

.slide-167 {
  background-image: url('../images/IMG_2840.JPG');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1-3 {
  background-image: url('../images/IMG_2843.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-168 {
  background-image: url('../images/IMG_2873.JPG');
  background-position: 0px 0px;
  background-size: 240px;
}

.slide-169 {
  background-image: url('../images/IMG_2877.JPG');
  background-position: 50% 50%;
  background-size: 240px;
}

.slide-1-4 {
  background-image: url('../images/IMG_2866.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-1-5 {
  background-image: url('../images/IMG_2867.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-170 {
  background-image: url('../images/IMG_2755.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-171 {
  background-image: url('../images/IMG_2756.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-172 {
  background-image: url('../images/IMG_2758.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-173 {
  background-image: url('../images/IMG_2757.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-174 {
  background-image: url('../images/IMG_2762.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-175 {
  background-image: url('../images/IMG_2763.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-176 {
  background-image: url('../images/IMG_2765.JPG');
  background-position: 50% 50%;
  background-size: 240px;
}

.slide-177 {
  background-image: url('../images/IMG_2755.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-178 {
  background-image: url('../images/IMG_2764.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-179 {
  background-image: url('../images/IMG_2766.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-180 {
  background-image: url('../images/IMG_2924.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-181 {
  background-image: url('../images/IMG_2925.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-182 {
  background-image: url('../images/IMG_2926.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-183 {
  background-image: url('../images/IMG_2929.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-184 {
  background-image: url('../images/IMG_2930.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-185 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2767.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, 320px;
}

.text-span-3 {
  color: #f30a0a;
}

.slide-186 {
  background-image: url('../images/IMG_2713.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-187 {
  background-image: url('../images/IMG_2714.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-188 {
  background-image: url('../images/IMG_2715.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-189 {
  background-image: url('../images/IMG_2718.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-190 {
  background-image: url('../images/IMG_2719.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-191 {
  background-image: url('../images/IMG_2720.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-192 {
  background-image: url('../images/IMG_2722.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-193 {
  background-image: url('../images/IMG_2725.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-194 {
  background-image: url('../images/IMG_2768.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-195 {
  background-image: url('../images/IMG_2770.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-196 {
  background-image: url('../images/IMG_2771.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-197 {
  background-image: url('../images/IMG_2774.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-198 {
  background-image: url('../images/IMG_2773.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-199 {
  background-image: url('../images/IMG_2775.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-200 {
  background-image: url('../images/IMG_2776.JPG');
  background-position: 50% 50%;
  background-size: 240px;
}

.slide-201 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2727.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, 320px;
}

.slide-202 {
  background-image: url('../images/IMG_2728.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-203 {
  background-image: url('../images/IMG_2729.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-204 {
  background-image: url('../images/IMG_2730.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-205 {
  background-image: url('../images/IMG_2731.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-206 {
  background-image: url('../images/IMG_2733.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-207 {
  background-image: url('../images/IMG_2734.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-208 {
  background-image: url('../images/IMG_2738.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-209 {
  background-image: url('../images/IMG_2737.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-210 {
  background-image: url('../images/IMG_2684.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-211 {
  background-image: url('../images/IMG_2685.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-212 {
  background-image: url('../images/IMG_2687.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-213 {
  background-image: url('../images/IMG_2686.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-214 {
  background-image: url('../images/IMG_2688.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-215 {
  background-image: url('../images/IMG_2689.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-216 {
  background-image: url('../images/IMG_2691.JPG');
  background-position: 0px 0px;
  background-size: 320px;
}

.slide-217 {
  background-image: url('../images/IMG_2692.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-218 {
  background-image: url('../images/IMG_2693.JPG');
  background-position: 50% 50%;
  background-size: 240px;
}

.slide-1-6 {
  background-image: url('../images/IMG_2694.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-1-7 {
  background-image: url('../images/IMG_2695.JPG');
  background-position: 50% 50%;
  background-size: 320px;
}

.slide-219 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2641.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-220 {
  background-image: url('../images/IMG_2642.JPG');
  background-position: 0px 50%;
  background-size: cover;
}

.slide-221 {
  background-image: url('../images/IMG_2644.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-222 {
  background-image: url('../images/IMG_2645.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-223 {
  background-image: url('../images/IMG_2648.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-224 {
  background-image: url('../images/IMG_2646.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-225 {
  background-image: url('../images/IMG_2650.JPG');
  background-position: 50% 100%;
  background-size: cover;
}

.slide-226 {
  background-image: url('../images/IMG_2649.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-227 {
  background-image: url('../images/IMG_2647.JPG');
  background-position: 50% 0px;
  background-size: cover;
}

.slide-228 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2651.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
}

.slide-229 {
  background-image: url('../images/IMG_2652.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-230 {
  background-image: url('../images/IMG_2653.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-231 {
  background-image: url('../images/IMG_2654.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-232 {
  background-image: url('../images/IMG_2658.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-233 {
  background-image: url('../images/IMG_2659.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-234 {
  background-image: url('../images/IMG_2660.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-235 {
  background-image: url('../images/IMG_2662.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-236 {
  background-image: url('../images/IMG_2664.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-237 {
  background-image: url('../images/IMG_3003.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-238 {
  background-image: url('../images/IMG_3004.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-239 {
  background-image: url('../images/IMG_3005.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-240 {
  background-image: url('../images/IMG_3007.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-241 {
  background-image: url('../images/IMG_3006.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-242 {
  background-image: url('../images/IMG_3010.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-243 {
  background-image: url('../images/IMG_3011.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-244 {
  background-image: url('../images/IMG_3013.JPG');
  background-position: 50% 0px;
  background-size: cover;
}

.slide-245 {
  background-image: url('../images/IMG_3097.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-246 {
  background-image: url('../images/IMG_3099.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-247 {
  background-image: url('../images/IMG_3098.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-248 {
  background-image: url('../images/IMG_3101.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-249 {
  background-image: url('../images/IMG_3102.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-250 {
  background-image: url('../images/IMG_3103.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-251 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_2951.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
}

.slide-252 {
  background-image: url('../images/IMG_2952.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-253 {
  background-image: url('../images/IMG_2953.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-254 {
  background-image: url('../images/IMG_2955.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-255 {
  background-image: url('../images/IMG_2957.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-256 {
  background-image: url('../images/IMG_2958.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-257 {
  background-image: url('../images/IMG_2959.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-258 {
  background-image: url('../images/IMG_2960.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-259 {
  background-image: url('../images/IMG_2962.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-8 {
  background-image: url('../images/IMG_2961.JPG'), url('../images/IMG_2964.JPG');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.slide-1-9 {
  background-image: url('../images/IMG_2963.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-260 {
  background-image: url('../images/IMG_2992.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-261 {
  background-image: url('../images/IMG_2993.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-262 {
  background-image: url('../images/IMG_2994.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-263 {
  background-image: url('../images/IMG_2997.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-264 {
  background-image: url('../images/IMG_2995.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-265 {
  background-image: url('../images/IMG_2999.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-266 {
  background-image: url('../images/IMG_2998.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-267 {
  background-image: url('../images/IMG_3001.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-268 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_3140.JPG');
  background-position: 0px 0px, 50% 50%;
  background-size: contain, cover;
}

.slide-269 {
  background-image: url('../images/IMG_3141.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-270 {
  background-image: url('../images/IMG_3142.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-271 {
  background-image: url('../images/IMG_3143.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-272 {
  background-image: url('../images/IMG_3146.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-273 {
  background-image: url('../images/IMG_3147.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-274 {
  background-image: url('../images/IMG_3148.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-275 {
  background-image: url('../images/IMG_3149.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-276 {
  background-image: url('../images/IMG_3150.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-1-10 {
  background-image: url('../images/IMG_3151.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-1-11 {
  background-image: url('../images/IMG_3152.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-12 {
  background-image: url('../images/IMG_3153.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-277 {
  background-image: url('../images/IMG_3154.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-278 {
  background-image: url('../images/IMG_3157.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-279 {
  background-image: url('../images/IMG_3155.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-280 {
  background-image: url('../images/IMG_3158.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-281 {
  background-image: url('../images/IMG_3163.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-282 {
  background-image: url('../images/IMG_3164.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-283 {
  background-image: url('../images/IMG_3166.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-284 {
  background-image: url('../images/IMG_3165.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-285 {
  background-image: url('../images/IMG_3167.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-13 {
  background-image: url('../images/IMG_3168.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-14 {
  background-image: url('../images/IMG_3169.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-286 {
  background-image: url('../images/sold-sign-cfea7eec9e45d1b3d20efc13f6e8ec83.png'), url('../images/IMG_3105.JPG');
  background-position: 0px 0px, 0px 0px;
  background-size: cover, cover;
}

.slide-287 {
  background-image: url('../images/IMG_3107.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-288 {
  background-image: url('../images/IMG_3106.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-289 {
  background-image: url('../images/IMG_3110.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-290 {
  background-image: url('../images/IMG_3111.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-291 {
  background-image: url('../images/IMG_3113.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-292 {
  background-image: url('../images/IMG_3114.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-293 {
  background-image: url('../images/IMG_3115.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-294 {
  background-image: url('../images/IMG_3116.JPG');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-1-15 {
  background-image: url('../images/IMG_3117.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-16 {
  background-image: url('../images/IMG_3124.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-17 {
  background-image: url('../images/IMG_3119.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-18 {
  background-image: url('../images/IMG_3118.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-19 {
  background-image: url('../images/IMG_3121.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-1-20 {
  background-image: url('../images/IMG_3112.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.image-14 {
  max-width: 130%;
}

.text-span-4 {
  font-weight: 400;
}

.text-span-5 {
  font-weight: 400;
}

.text-block-10 {
  text-align: left;
}

@media (max-width: 991px) {
  .heading {
    padding-left: 91px;
  }
  .heading3 {
    padding-left: 20px;
  }
  .slider-2 {
    max-height: 220px;
    max-width: 220px;
  }
  .slider-2.rot {
    max-height: 220px;
    max-width: 220px;
  }
  .text-block {
    display: block;
  }
  .specs {
    padding-left: 55px;
  }
}

@media (max-width: 767px) {
  .heading {
    padding-left: 77px;
  }
  .heading2 {
    padding-left: 77px;
    text-align: left;
  }
  .heading3 {
    padding-right: 45px;
    padding-left: 74px;
  }
  .slider-2 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
}

@media (max-width: 479px) {
  .heading {
    margin-top: 60px;
    padding-top: 22px;
    padding-left: 62px;
  }
  .heading2 {
    padding-right: 56px;
    padding-left: 65px;
  }
  .heading3 {
    padding-right: 15px;
  }
  .slide {
    display: inline-block;
  }
  .image-10 {
    padding-bottom: 15px;
  }
  .image-11 {
    padding-bottom: 15px;
  }
  .image-12 {
    padding-bottom: 30px;
  }
}

